<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="update()">

        <div class="form-group">
            <label for="title" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.name" id="name" placeholder="Name" ng-required="true">
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.email" id="email" placeholder="Name" ng-required="true">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Level</label>
            <div class="col-md-10">
                <select name="grave_cemetery_id" ng-model="User.user_level" required">
                        <option value="">Select a level</option>
                    <option ng-repeat='level in levels' value='{{level.type}}'>
                        {{level.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-md-2 control-label">First Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_first_name" id="user_first_name" placeholder="First Name">
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Middle Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_middle_name" id="user_middle_name" placeholder="Middle Name">
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Last Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_last_name" id="user_last_name" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Organization</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_organization" id="user_organization" placeholder="Organization">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Address1</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_billing_address.address1" placeholder="user_billing_address.address1">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Address2</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_billing_address.address2" placeholder="user_billing_address.address2">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">city</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_billing_address.city" placeholder="user_billing_address.city">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">state</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_billing_address.state" placeholder="user_billing_address.state">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">postalcode</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_billing_address.postalcode" placeholder="user_billing_address.postalcode">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">phone</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="User.user_billing_address.phone" placeholder="user_billing_address.phone">
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</section>

