<section data-ng-controller="UsersController" data-ng-init="find()">
	<div class="">	
		<p><strong>Filter:</strong> {{tableParams.filter() | json}}
		<table ng-table="tableParams" show-filter="true" class="table">
			<tr ng-repeat="user in $data">
				<td data-title="'Name'" filter="{ 'name': 'text' }">
					{{user.name}}
				</td>
				<td data-title="'Email'" filter="{ 'email': 'text' }">
					{{user.email}}
				</td>
				<td data-title="'Email'">
					<a data-ng-href="#!/users/{{user._id}}/edit">Edit</a>
				</td>
			</tr>
		</table>
	</div>
    <h1 data-ng-hide="!Users || Users.length">No users yet. <br> Why don't you <a href="/#!/users/create">Create One</a>?</h1>
</section>