<section data-ng-controller="OwnersController" data-ng-init="findOne()">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="update()">

        <div class="form-group">
            <label for="title" class="col-md-2 control-label">First Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_first_name" id="owner_first_name" placeholder="First Name">
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Middle Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_middle_name" id="owner_middle_name" placeholder="Middle Name">
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Last Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_last_name" id="owner_last_name" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Organization</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_organization" id="owner_organization" placeholder="Organization">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Address1</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_billing_address.address1" placeholder="owner_billing_address.address1">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Address2</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_billing_address.address2" placeholder="owner_billing_address.address2">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">city</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_billing_address.city" placeholder="owner_billing_address.city">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">state</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_billing_address.state" placeholder="owner_billing_address.state">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">postalcode</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_billing_address.postalcode" placeholder="owner_billing_address.postalcode">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">phone</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="Owner.owner_billing_address.phone" placeholder="owner_billing_address.phone">
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">owner_notes</label>
            <div class="col-md-10">
                <textarea data-ng-model="Owner.owner_notes" id="owner_notes" cols="30" rows="10" placeholder="owner_notes" class="form-control" ng-required="false"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-md-2 control-label">Documents</label>
            <div class="col-md-10">

                <table class="table">
                    <tbody>
                        <tr ng-repeat="item in Owner.owner_documents">
                            <td><strong>{{item.name}}</strong></td>
                            <td nowrap>{{ item.size / 1024 / 1024|number:2 }} MB</td>
                            <td nowrap>{{ item.type}} </td>
                            <td nowrap>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="remove_document(item)">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                    <downloadbutton href="{{item}}" title="{{item.name}}"></downloadbutton>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</section>

<!-- -->
<div style="float:none; clear: both;">
    <section ng-controller="TestController" ng-file-drop style='border: black 3px solid;'>

        <div class="col-md-3">

            <h3>Select files</h3>
            <div ng-show="uploader.isHTML5">
                <div class="well my-drop-zone" ng-file-over>
                    Base drop zone
                </div>
                <!--                <div class="well my-drop-zone" ng-file-drop="{ url: '/foo' }" ng-file-over="another-file-over-class">
                                    Another drop zone with its own settings
                                </div>-->
            </div>
            Multiple
            <input ng-file-select type="file" multiple  /><br/>
            <!--            Single
                        <input ng-file-select type="file" />-->
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader.queue.length}}</p>

            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name}}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <p>
                    Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
                </p>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>

        </div>


    </section>
</div>
<!-- -->